.container {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
}

.container::before {
    content: "\a";
    position: fixed;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    background: #ff951c;
    z-index: -1;
}

.container.clear::after {
    content: "\a";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.introduction {
    position: relative;
    background: #ff951c;
    background-image: url('/assets/img/aesthetic.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.introduction .wave {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
}

.introduction .box {
    display: inline-block;
}

.introduction .box h1 {
    margin-top: 30px;
    margin-right: -30px;
    font-size: 4.2rem;
    font-style: italic;
    font-weight: 500;
}

.introduction .box p {
    font-style: italic;
}

.introduction .box:nth-child(1) .or {
    margin: 10px;
    margin-right: 45px;
}

.introduction .box:nth-child(3) .or {
    margin: 10px;
    margin-left: 45px;
}

.introduction .box a.next-page {
    outline: none;
}

.introduction .box button.next-page {
    padding: 2px 25px;
    background: #eeeeee;
    border: none;
    border-radius: 100px;
    outline: none;
}

.introduction .box button.next-page:hover {
    background: #e1e1e1;
}

.introduction .box .contacts h4 {
    font-weight: 500;
}

.introduction .box .contacts a,
.introduction .box .contacts button {
    outline: none;
}

.introduction .box .contacts button {
    width: 100%;
    margin: 5px 0;
    padding: 2px 15px;
    background: #fefefe;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    border: 4px solid;
    border-radius: 100px;
}

.introduction .box .contacts button:hover {
    font-style: normal;
}

.introduction .box .contacts button.facebook {
    border-color: #0c68e0;
}

.introduction .box .contacts button.facebook:hover {
    background: #0c68e0;
    color: #fefefe;
}

.introduction .box .contacts button.instagram {
    border-color: #e00c0c;
}

.introduction .box .contacts button.instagram:hover {
    background: #e00c0c;
    color: #fefefe;
}

.introduction .box .contacts button.twitter {
    border-color: #0ca4e0;
}

.introduction .box .contacts button.twitter:hover {
    background: #0ca4e0;
    color: #fefefe;
}

.introduction .box .contacts button.whatsapp {
    border-color: #0ce00c;
}

.introduction .box .contacts button.whatsapp:hover {
    background: #0ce00c;
    color: #fefefe;
}

.introduction .box:nth-child(1) {
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    margin-top: 20px;
    margin-right: -40px;
    text-align: right;
    vertical-align: top;
}

.introduction .box:nth-child(2) {
    height: 550px;
    pointer-events: none;
}

.introduction .box:nth-child(3) {
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    margin-bottom: 30px;
    margin-left: -40px;
    text-align: left;
    vertical-align: bottom;
}

.introduction .box img {
    height: 100%;
    object-fit: cover;
}

@media (min-width: 1250px) {
    .container {
        margin: 30px;
        border: 1px solid rgba(0,0,0,.5);
        box-shadow: 0 4px 8px rgba(0,0,0,.5);
    }
}

@media (min-width: 1320px) {
    .container {
        margin: 30px auto;
    }
}

@media (max-width: 890px) {
    .introduction {
        padding: 20px;
        padding-bottom: 50px;
        text-align: right;
    }

    .introduction .box:nth-child(1) {
        max-width: 100%;
        margin: 0;
        text-align: left;
    }

    .introduction .box:nth-child(2) {
        position: absolute;
        height: 100%;
        top: 0;
        right: 20px;
    }

    .introduction .box:nth-child(3) {
        display: flex;
        max-width: 500px;
        margin: 0;
        margin-top: 20px;
        flex-wrap: wrap-reverse;
    }

    .introduction .box:nth-child(1) .or {
        margin: 0;
    }

    .introduction .box:nth-child(3) .or {
        margin: 0;
        margin-bottom: 30px;
    }

    .introduction .box h1 {
        margin-right: 0;
    }

    .introduction .box h4 {
        margin: 0;
    }

    .introduction .box .contacts button {
        width: auto;
    }

    .introduction .box img {
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 875px) {
    .introduction .box:nth-child(2) {
        opacity: 85%;
    }
}

@media (max-width: 860px) {
    .introduction .box:nth-child(2) {
        opacity: 70%;
    }
}

@media (max-width: 845px) {
    .introduction .box:nth-child(2) {
        opacity: 55%;
    }
}

@media (max-width: 830px) {
    .introduction .box:nth-child(2) {
        opacity: 40%;
    }
}

@media (max-width: 815px) {
    .introduction .box:nth-child(2) {
        opacity: 25%;
    }
}

@media (max-width: 400px) {
    .introduction .box h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 300px) {
    .introduction .box h1 {
        font-size: 3rem;
    }
}

@media (max-width: 250px) {
    .introduction .box h1 {
        font-size: 2.5rem;
    }
}

.wrapper {
    position: relative;
}

.wrapper .section-1 {
    position: relative;
    display: flex;
    padding: 50px 5%;
}

.wrapper .section-1 .image {
    position: relative;
    top: -200px;
    height: 600px;
    margin-bottom: -251px;
    pointer-events: none;
    z-index: 1;
}

.wrapper .section-1 .box {
    padding: 20px;
    background: rgba(255,255,255,.7);
    z-index: 1;
}

.wrapper .section-1 .box h3 {
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.wrapper .section-1 .box p {
    margin: 0;
}

.wrapper .section-1 .image img {
    height: 100%;
}

@media (max-width: 890px) {
    .wrapper .section-1 {
        height: 399px;
        padding: 30px 0;
    }

    .wrapper .section-1 .box {
        height: max-content;
    }

    .wrapper .section-1 .image {
        position: absolute;
        height: 500px;
        top: -100px;
    }
}

@media (max-width: 350px) {
    .wrapper .section-1 .image {
        top: -50px;
    }

    .wrapper .section-1 .wave {
        bottom: 149px;
    }
}

.wrapper .section-2 {
    position: relative;
    padding: 50px 5%;
    background: #e0610c;
    text-align: center;
    color: #ffffff;
}

.wrapper .section-2 h3 {
    margin: 0 0 10px 0;
    font-weight: 500;
}

.wrapper .section-2 .row {
    display: grid;
    width: 100%;
    height: auto;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

.wrapper .section-2 .row .box {
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    background: rgba(0,0,0,.2);
}

.wrapper .section-2 .row .box:hover {
    background: rgba(0,0,0,.3);
}

.wrapper .section-2 .row .box .icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    padding: 10px;
    background: #fefefe;
    border-radius: 20px;
}

.wrapper .section-2 .row .box .icon img {
    width: 100%;
    object-fit: cover;
}

.wrapper .section-2 .row .box h5 {
    margin: 0;
    font-style: italic;
    font-weight: 500;
}

.wrapper .section-2 .square {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.wrapper .section-2 .square.clear {
    display: block;
}

.wrapper .section-2 .square .inner {
    margin: 20px;
    padding: 10px 15px;
    background: #ffffff;
    color: #212527;
}

.wrapper .section-2 .square .inner .top-bar {
    text-align: right;
}

.wrapper .section-2 .square .inner .top-bar .btn-square {
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
}

.wrapper .section-2 .square .inner table tr td {
    padding: 5px;
    text-align: left;
    font-style: italic;
    font-weight: 600;
    vertical-align: middle;
}

.wrapper .section-2 .square .inner img {
    max-width: 30px;
    width: 100%;
    object-fit: cover;
}

.wrapper .section-3 {
    position: relative;
    padding: 50px 5%;
    text-align: center;
}

.wrapper .section-3 h3 {
    margin: 0 0 10px 0;
    font-weight: 500;
}

.wrapper .section-3 img {
    height: 75px;
}

.wrapper .section-3 .wave {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.footer {
    padding: 20px;
    background: #001d30;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}